
.list-wrap{
    width:100%;
    .list{
        width: 1120px;
        margin: 0 auto;
        .redSong-list{
            height: 40px;
            border-bottom: 1px solid #f4f4f4;
            line-height: 40px;
            .redSong-button{
                float: right;
            }
        }
    }
}