#footer {
    height: 60px;
    width: 100%;
    background-color: rgb(168, 11, 11);
    border-top: 2px solid #110404;
    padding: 0 20px;
    border-sizing:border-box;
    position: fixed;
    bottom: 0;
    transition: 0.5s;
    transform: translateY(50px);
}
.toHidden{
    transform: translateY(50px)!important;
}
.toShow{
    transform: translateY(0)!important;
}
.footer-content{
    height: 40px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
.user-header{
    left: 40px;
    height: 40px;
    width: 40px;
    float: left;
}
.user-name{
    float: left;
    margin-left: 50px;
    height: 40px;
    width: 300px;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
}
.user-contr{
    float: left;
}